/* ----------------------about us ---------------------------------- */

.sub-header{
    height: 50vh;
    width: 100%;
    background:#141031;
    
    text-align: center;
    color: #ffb400;
}
.sub-header h1{
  
    color: #ffb400;
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    margin-top: 50px;
}

@media(max-width:780px){
    .row{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-bottom: 0px;
}
.about-col p{
    padding: 15px 0 25px;
}
.about-p{
    color: black;
}
.btn{
    display: inline-block;
    background: orangered;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    text-decoration: none;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
    color: #fff;
}