



**********************************************
.serviceDis{
    width: 100%;
}

.spac-top{
    margin-top: 15% !important;
}
@media(max-width:780px){
    .spac-top{
        margin-top: 10%;
    }
}

.serviceCon{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-top: 2%;
}
@media(max-width:780px){
    .serviceCon{
        flex-direction: column;
    }
}

.serviceCont,
.service-inner{
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    flex-basis: 100%;
    justify-content: center;
}
@media(max-width:780px){
    .serviceCont,
    .service-inner{
        width: 100%;
        margin: 0%;
    }
}

.service-inner ul{
    text-align: center;
    padding: 0%;
    margin: 20px;
}

ul > li{
    margin-top: 1px;
}

ul > button{
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 15px;
    padding: 2px 15px;
    margin-top: 20px;
}
ul > button:hover{
    background-color: rgb(60, 255, 0);
    border: 2px solid rgb(0, 255, 34);
    border-radius: 15px;
    padding: 2px 15px;
    margin-top: 20px;
}


@media (max-width:780px){
    .service-desk{
        display: block;
        visibility:hidden;
        width: 0px;
        height: 0px;
        padding: 0px;
        margin: 0px;
    }
    .service-inner{
        margin-bottom: 10px;
    }
    .serviceCont,.serviceCon{
        margin-bottom: 10px;
    }

}

@media (min-width:780px){
    .ser-mobile{
        display: block;
     visibility: hidden;
     height: 0px;
     width: 0px;
     padding: 0px;
     margin: 0px !important;  
    }
}





/* service discription */
