

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    background-color: rgb(2, 2, 66);
    color: #fff;
    border-bottom: 1px solid #E2E8F0;
    box-shadow: 2px  5px 8px rgba(4, 61, 94, 0.2);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #ffffff;
    margin-right: 25px;
}

/* .nav-link:hover{
    color: #482ff7;
} */

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    /* color: #482ff7; */
}

.search input{
    padding: 8px;
    width: 350px;
    border: 1.5px solid #2AABE4;
    border-radius: 5px;
    
    
    

}
.search-tab{
    margin-bottom: 30px;
}



button[type="submit"] {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin-left: -40px;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.5;
  }
  
  button[type="submit"]:hover {
    opacity: 1;
  }


  .logo img{
    width: 50px;
    margin-right: 55px;
}


@media only screen and (max-width: 768px) {
    .search{
        width: 250px;
        display: none;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 2px  5px 8px rgba(4, 61, 94, 0.2);
    }
    
    .nav-menu.active {
        left: 0;
    }
    
    .nav-item {
        margin: 2.5rem 0;
    }
    .nav-link{
        color: rgb(3, 3, 77);

    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    /* // Inside the Media Query. */

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }



}
